{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends '@SonataAdmin/CRUD/base_list.html.twig' %}

{% block sonata_admin_content %}

<div class="row">
    <div class="col-xs-12 col-md-12" style="margin-bottom: 10px;">
        <div class="box box-primary">
            <div class="box-body">
                <form class="sonata-filter-form form-horizontal" action="{{ asset('admin/app/detalleventa/agregar') }}">
                    <div class="row">
                        <div class="col-xs-8 col-md-8 text-center">
                            <div class="form-group">
                                <label class="col-xs-3 col-md-3 control-label">Cantidad: </label>
                                <div class="col-xs-2 col-md-2">
                                <input type="text" id="" name="cant_prod" value="1" class=" form-control">
                                </div>
                                <label class="col-xs-3 col-md-3 control-label">Codigo: </label>
                                <div class="col-xs-4 col-md-4">
                                <input type="text" id="" name="cod_prod" class=" form-control"  autofocus>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3 col-md-3 text-center">
                            <button type="submit" class="btn btn-primary"><i class="fas fa-plus" aria-hidden="true"></i> Agregar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ parent() }}
{% endblock sonata_admin_content %}